<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 bg-dark text-white">
      <h2 class="text-center py-4" routerLink="/dashboard" style="cursor: pointer">Dashboard</h2>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link text-white" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/createClient">Register Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Client Files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/suppliers">Suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Register Employee</a>
          </li>
        </ul>
    </div>

<div class="col-md-9 bg-light">
  <div class="container py-4">
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Search Client NIF</h3>
                <form (ngSubmit)="searchClientFile()">
                  <div class="row">
                    <div class="col-md-8 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="searchNIF">NIF</label>
                        <input type="text" id="searchNIF" name="searchNIF" class="form-control form-control-lg" [(ngModel)]="searchNIF" />
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <div class="form-outline">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card shadow-2-strong mt-5" style="border-radius: 15px;">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">
                  <span class="float-end">
                    <fa-icon *ngIf="!isEditing && clientFile" [icon]="faPen" class="text-primary" (click)="startEditing()" style="cursor: pointer;"></fa-icon>
                    <button *ngIf="isEditing" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
                  </span>
                  Client Details:
                </h3>
                <div *ngIf="clientFile">
                  <div class="card mb-4">
                    <div class="card-body">
                      <p><strong>Name:</strong> <span *ngIf="!isEditing">{{ clientFile.client.name }}</span><input *ngIf="isEditing" [(ngModel)]="editedClient.name" /></p>
                      <p><strong>NIF:</strong> <span *ngIf="!isEditing">{{ clientFile.client.nif }}</span><input *ngIf="isEditing" [(ngModel)]="editedClient.nif" /></p>
                      <p><strong>Email:</strong> <span *ngIf="!isEditing">{{ clientFile.client.email }}</span><input *ngIf="isEditing" [(ngModel)]="editedClient.email" /></p>
                      <p><strong>Phone: </strong>
                        <ng-container *ngIf="!isEditing">
                          <span *ngIf="clientFile.client.phone !== 0; else notProvided">{{ clientFile.client.phone }}</span>
                          <ng-template #notProvided>Not Provided</ng-template>
                        </ng-container>
                        <input *ngIf="isEditing" [(ngModel)]="editedClient.phone" />
                      </p>
                    </div>
                  </div>
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Bought:</h3>
                  <div class="card">
                    <div class="card-body">
                      <ul>
                        <li *ngFor="let sale of clientFile.sales">
                          <p><strong>Product:</strong> {{ sale.product.name }}</p>
                          <p><strong>Price:</strong> {{ sale.price }}</p>
                          <p><strong>Quantity:</strong> {{ sale.quantity }}</p>
                          <p><strong>Employee:</strong> {{ sale.employee.name }}</p>
                          <br>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div *ngIf="!clientFile">
                  <p>No client file found.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
