<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12 bg-dark text-white" style="height: 100vh; overflow-y: auto;">
      <h2 class="text-center py-4" routerLink="/dashboard" style="cursor: pointer;">Dashboard</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/createClient">Registar Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/clientFile">Ficha de Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/category">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/sales">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/suppliers">Fornecedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/registerEmployee">Registar Funcionários</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-12 bg-light overflow-auto" style="height: 100vh;">
      <div class="container py-4">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title text-center">Ver Produtos Detalhados</h5>
                <button class="btn btn-primary" (click)="toggleProducts()">
                  {{ showProducts ? 'Esconder' : 'Ver' }}
                </button>
                <div class="form-group mt-3" *ngIf="showProducts == true">
                  <input type="text" class="form-control" placeholder="Pesquisar por Nome" [(ngModel)]="searchProductName">
                </div>
                <ul class="list-group mt-3" *ngIf="showProducts && filteredProducts.length > 0">
                  <li class="list-group-item" *ngFor="let product of filteredProducts">
                    <p><strong>Nome: </strong> {{ product.name }}</p>
                    <p><strong>Preço Unitário: </strong> {{ product.unitPrice }} €</p>
                    <p><strong>Quantidade: </strong> {{ product.quantity }} unit.</p>
                    <p><strong>Categoria: </strong> {{ product.category?.name }}</p>
                    <p><strong>Stock: </strong>
                      <span *ngIf="product.available; else unavailable">DISPONÍVEL</span>
                      <ng-template #unavailable>INDISPONÍVEL</ng-template>
                    </p>
                    <p><strong>Fornecedor: </strong> {{ product.supplier?.name }}</p>
                  </li>
                </ul>
                <p class="mt-3" *ngIf="filteredProducts.length === 0">Sem produtos</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title text-center">Ver Produtos </h5>
                <button class="btn btn-primary" (click)="toggleProducts2()">
                  {{ showProducts2 ? 'Esconder' : 'Ver' }}
                </button>
                <ul class="list-group mt-3" *ngIf="showProducts2 && products.length > 0">
                  <li class="list-group-item" *ngFor="let product of products">
                    <p><strong>Nome: </strong> {{ product.name }}</p>
                    <p><strong>Quantidade: </strong> {{ product.quantity }} unit.</p>
                    <p><strong>Categoria </strong> {{ product.category?.name }}</p>
                  </li>
                </ul>
                <p class="mt-3" *ngIf="products.length === 0">Sem produtos</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title text-center">Editar Produtos</h5>
                <button class="btn btn-primary" (click)="toggleEditProducts()">
                  {{ showEditProducts ? 'Cancelar' : 'Editar' }}
                </button>
                <ul class="list-group mt-3" *ngIf="showEditProducts && products.length > 0">
                  <li class="list-group-item" *ngFor="let product of products">
                    <div *ngIf="selectedProduct === product; else showLabel">
                      <form>
                        <div class="form-group">
                          <label for="name">Nome</label>
                          <input type="text" class="form-control" id="name" [(ngModel)]="editedProduct.name" name="name">
                        </div>
                        <div class="form-group">
                          <label for="unitPrice">Preco Unitario</label>
                          <input type="number" class="form-control" id="unitPrice" [(ngModel)]="editedProduct.unitPrice" name="unitPrice">
                        </div>
                        <div class="form-group">
                          <label for="quantity">Quantidade</label>
                          <input type="number" class="form-control" id="quantity" [(ngModel)]="editedProduct.quantity" name="quantity">
                        </div>
                        <div class="form-group">
                          <label for="supplier">Categoria</label>
                          <select class="form-control" id="category" [(ngModel)]="editedProduct.category" name="Category">
                            <option *ngFor="let cat of category" [ngValue]="cat">{{ cat.name }}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="available">Disponivel</label>
                          <select class="form-control" id="available" [(ngModel)]="editedProduct.available" name="available">
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="supplier">Fornecedor</label>
                          <select class="form-control" id="supplier" [(ngModel)]="editedProduct.supplier" name="supplier">
                            <option *ngFor="let sup of supplier" [ngValue]="sup">{{ sup.name }}</option>
                          </select>
                        </div>
                        <button class="btn btn-primary mt-1 me-1" (click)="updateProduct()">Salvar</button>
                        <button class="btn btn-secondary mt-1 me-1" (click)="cancelEdit()">Cancelar</button>
                        <button class="btn btn-danger mt-1" (click)="deleteProduct(product.id)">Excluir</button>
                      </form>
                    </div>
                    <ng-template #showLabel>
                      <p><strong>Nome: </strong>{{ product.name }}</p>
                      <p><strong>Preço Unitário: </strong>{{ product.unitPrice }}</p>
                      <p><strong>Quantidade: </strong>{{ product.quantity }}</p>
                      <p><strong>Categoria: </strong>{{ product.category?.name }}</p>
                      <p><strong>Disponivel: </strong>{{ product.available ? 'Sim' : 'Não' }}</p>
                      <p><strong>Fornecedor: </strong>{{ product.supplier?.name }}</p>
                      <button class="btn btn-primary" (click)="editProduct(product)">Editar</button>
                    </ng-template>
                  </li>
                </ul>
                <p class="mt-3" *ngIf="products.length === 0">Sem produtos disponíveis.</p>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title text-center">Adicionar Produtos</h5>
                <button class="btn btn-primary" (click)="toggleAddProductForm()">
                  {{ showAddProductForm ? 'Cancelar' : 'Adicionar' }}
                </button>
                <form *ngIf="showAddProductForm">
                  <div class="form-group">
                    <label for="newName">Nome</label>
                    <input type="text" class="form-control" id="newName" [(ngModel)]="newProduct.name" name="newName">
                  </div>
                  <div class="form-group">
                    <label for="newUnitPrice">Preço Unitário</label>
                    <input type="number" class="form-control" id="newUnitPrice" [(ngModel)]="newProduct.unitPrice" name="newUnitPrice" min="0">
                  </div>
                  <div class="form-group">
                    <label for="newQuantity">Quantidade</label>
                    <input type="number" class="form-control" id="newQuantity" [(ngModel)]="newProduct.quantity" name="newQuantity" min="0">
                  </div>
                  <div class="form-group">
                    <label for="prodCategory">Categoria</label>
                    <select class="form-control" id="prodCategory" [(ngModel)]="newProduct.category" name="prodCategory">
                      <option *ngFor="let cat of category" [ngValue]="cat">{{ cat.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="newAvailable">Disponível</label>
                    <select class="form-control" id="newAvailable" [(ngModel)]="newProduct.available" name="newAvailable">
                      <option value="true">Sim</option>
                      <option value="false">Não</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="prodSupplier">Fornecedor</label>
                    <select class="form-control" id="prodSupplier" [(ngModel)]="newProduct.supplier" name="prodSupplier">
                      <option *ngFor="let sup of supplier" [ngValue]="sup">{{ sup.name }}</option>
                    </select>
                  </div>
                  <button class="btn btn-primary mt-1" (click)="addProduct()">Adicionar</button>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
