<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12 bg-dark text-white" style="height: 100vh; overflow-y: auto;">
      <h2 class="text-center py-4" routerLink="/dashboard" style="cursor: pointer;">Dashboard</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/createClient">Registar Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/clientFile">Ficha de Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/sales">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/suppliers">Fornecedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/registerEmployee">Registar Funcionários</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9 col-12 bg-light overflow-auto" style="height: 100vh;">
      <div class="container py-4">
        <h2 class="mb-4">Vendas</h2>
        <div class="row">
          <div class="mt-3 mb-3">
            <button class="btn btn-primary" (click)="showAddSale = true">Criar Venda</button>
          </div>
          <div class="card mb-3" *ngIf="showAddSale">
            <div class="card-body">
              <h5 class="card-title">Adicionar Venda</h5>
              <label>Quantidade Produtos</label>
              <input [(ngModel)]="newSale.quantity" type="number" class="form-control mb-1" min="0">
              <label for="saleProduct">Produto</label>
              <select class="form-control" [(ngModel)]="selectedProduct" (ngModelChange)="updateProductId($event)">
                <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
              </select>
              <label for="saleProduct">Cliente</label>
              <select class="form-control" [(ngModel)]="selectedClient" (ngModelChange)="updateClientId($event)">
                <option *ngFor="let client of clients" [value]="client.id">Nome: {{ client.name }} NIF: {{ client.nif }}</option>
              </select>
              <label for="saleEmployee">Funcionário</label>
              <select class="form-control" [(ngModel)]="selectedEmployee" (ngModelChange)="updateEmployeeId($event)">
                <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
              </select>
              <div class="mt-2">
                <button class="btn btn-success" (click)="addSale()">Adicionar</button>
                <button class="btn btn-secondary ms-2" (click)="cancelAdd()">Cancelar</button>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngFor="let sale of sales">
            <div class="card mb-3">
              <div class="card-body">
                <ng-container *ngIf="!showEditSales || editedSale.id !== sale.id">
                  <p class="card-text">ID Venda: {{ sale.id }}</p>
                  <p class="card-text">Preço Venda: {{ sale.price }}</p>
                  <p class="card-text">Quantidade Produtos: {{ sale.quantity }}</p>
                  <p class="card-text">Nome Produto: {{ sale.product?.name }}</p>
                  <p class="card-text">Nome Cliente: {{ sale.client?.name }}</p>
                  <p class="card-text">Nome Funcionário: {{ sale.employee?.name }}</p>
                </ng-container>
                <ng-container *ngIf="showEditSales && editedSale.id === sale?.id">
                  <label>ID VENDA</label>
                  <input [(ngModel)]="editedSale.id" type="text" class="form-control" readonly>
                  <label>Quantidade</label>
                  <input [(ngModel)]="editedSale.quantity" type="text" class="form-control">

                  <label for="saleProduct">Produto</label>
                  <select class="form-control" [(ngModel)]="editedSale.product">
                    <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
                  </select>
                  <label for="saleProduct">Cliente</label>
                  <select class="form-control" [(ngModel)]="editedSale.client">
                    <option *ngFor="let client of clients" [ngValue]="client">Nome: {{ client.name }} NIF: {{ client.nif }}</option>
                  </select>
                  <label for="saleProduct">Funcionário</label>
                  <select class="form-control" [(ngModel)]="editedSale.employee">
                    <option *ngFor="let employee of employees" [ngValue]="employee"> {{ employee.name }}</option>
                  </select>

                  <div class="mt-2">
                    <button class="btn btn-success" (click)="updateSales()">Guardar</button>
                    <button class="btn btn-secondary ms-2" (click)="cancelEdit()">Cancelar</button>
                  </div>
                </ng-container>

              </div>
              <div class="card-footer">
                <button *ngIf="!showEditSales" class="btn btn-primary" (click)="onEditClick(sale)">Editar</button>
                <button class="btn btn-danger ms-1" (click)="deleteSales(sale.id)">Apagar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

