<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12 bg-dark text-white" style="height: 100vh; overflow-y: auto;">
      <h2 class="text-center py-4" routerLink="/dashboard" style="cursor: pointer;">Dashboard</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/createClient">Registar Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/clientFile">Ficha de Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/category">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/sales">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/suppliers">Fornecedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/registerEmployee">Registar Funcionários</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9 col-12 bg-light overflow-auto" style="height: 100vh;">
      <div class="card col-md-10 ms-5 mt-5">
        <div class="card-header">
          Categorias
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of category">
                <td>{{ cat.id }}</td>
                <td>
                  <ng-container *ngIf="!cat.editMode; else editCategoryName">
                    {{ cat.name }}
                  </ng-container>
                  <ng-template #editCategoryName>
                    <input [(ngModel)]="cat.name" class="form-control" />
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!cat.editMode; else editButtons">
                    <button class="btn btn-primary me-1" (click)="toggleEditMode(cat)">Editar</button>
                    <button class="btn btn-danger" (click)="deleteCategory(cat.id)">Excluir</button>
                  </ng-container>
                  <ng-template #editButtons>
                    <button class="btn btn-success me-1" (click)="saveCategory(cat)">Salvar</button>
                    <button class="btn btn-danger" (click)="cancelEdit(cat)">Cancelar</button>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
          <form (submit)="createCategory()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" [(ngModel)]="newCategory.name" name="name" required>
            </div>
            <button type="submit" class="btn btn-success mt-2">Criar Categoria</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

