<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-12 bg-dark text-white" style="height: 100vh; overflow-y: auto;">
      <h2 class="text-center py-4" routerLink="/dashboard" style="cursor: pointer;">Dashboard</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/createClient">Registar Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/clientFile">Ficha de Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/sales">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/suppliers">Fornecedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/registerEmployee">Registar Funcionários</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-12 bg-light overflow-auto" style="height: 100vh;">
      <div class="container py-4">
        <h2 class="mb-4">
          <ng-container *ngIf="loggedInEmployee">
            <h1>Olá, {{ loggedInEmployee.name }}!</h1>
          </ng-container>
        </h2>
        <canvas height="30" width="100" #salesChart class="chart-container"></canvas>
        <div class="row">
          <div class="col-md-6 mt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Registar Clientes</h5>
                <p class="card-text">Regista clientes e a sua informação.</p>
                <a routerLink="/createClient" class="btn btn-primary">Registar Cliente</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ficha Cliente</h5>
                <p class="card-text">Veja a ficha do cliente e todas as suas compras.</p>
                <a routerLink="/clientFile" class="btn btn-primary">Ficha Cliente</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Produtos</h5>
                <p class="card-text">Gerir produtos do inventário.</p>
                <a routerLink="/products" class="btn btn-primary">Produtos</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Vendas</h5>
                <p class="card-text">Gere as tuas vendas.</p>
                <a routerLink="/sales" class="btn btn-primary">Vendas</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Fornecedores</h5>
                <p class="card-text">Gere os fornecedores e a sua informação.</p>
                <a routerLink="/suppliers" class="btn btn-primary">Fornecedores</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Registar Funcionários</h5>
                <p class="card-text">Regista novos funcionários.</p>
                <a routerLink="/registerEmployee" class="btn btn-primary">Registar Funcionários</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
