<div class="container-fluid bg-1 text-center"></div>

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">QUEM NÓS SOMOS?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="container-fluid bg-1 text-center"></div>

<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Sobre Nós</h3>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p>
        Simplifique a gestão de stock com Storage, o web app que otimiza o controlo de inventário e agiliza as operações.
      </p>
      <img src="../../assets/img01.jpg" class="img-fluid mx-auto d-block" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>
        Venha nos visitar em nosso local conveniente na Rua Álvaro Carneiro, 4715-086 Braga. Estamos ansiosos para recebê-lo em nosso espaço.
      </p>
      <img src="../../assets/mapLocation.png" class="img-fluid mx-auto d-block mt-3" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>
        Descubra as nossas instalações modernas e acolhedoras, criadas para inspirar a criatividade e promover a colaboração, com conforto e eficiência.
      </p>
      <img src="../../assets/img02.jpg" class="img-fluid mx-auto d-block" alt="Image">
    </div>
  </div>
</div>
